body {
    background-color: darkgrey;
    background-image: url("../images/brick.jpeg");
    background-attachment: fixed;
}

.bg-blue {
    background: #dedeff;
}

.bg-light {
    background: #defff8;
}
.my-i {
    font-size: 1rem;
    color: #ffffff;
    margin-right: 1rem;
}

.myIconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #ffffff;
}

.mUppercase {
    text-transform: uppercase;
}

.myNav {
    background-color: rgb(92, 149, 224);
    color: #262626;
    border-bottom: #262626 1px solid;
}

.headerNavItem {
    text-transform: uppercase;
    font-size: 1.3rem;
}

.headerNavItem > a {
    color: #fff5e7;
}


/*.myNav::after {*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    content: "";*/
/*    background-color: rgba(41, 79, 234, 0.45);*/
/*    z-index: 0;*/
/*}*/
.mRow {
    padding: 2rem 1rem 1rem;
}

.mRow:nth-of-type(even) {
    background-color: white;
}

.mRow:nth-of-type(odd) {
    background-color: white;
}

.mRow p {
    font-size: 1.3rem;
}

footer {
    background-color: #262626;
    color: white;
    padding: 2rem 1rem;
    font-size: 16px;
}

footer .myIconBox {
    font-size: 16px;
}


.mRights {
    min-height: 60vh
}

p {
    text-align: justify;
    line-height: 2.2rem;
}

.mCarouselItem {
    position: relative;
}

.mHeadingSlider {
    position: absolute;
    top: 30%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%); /* This is a shorthand of translateX(-50%) and translateY(-50%) */
    color: white;
    background-color: rgba(54, 54, 54, 0.57);
    padding: 2rem 1rem;
    font-size: 4rem;
    width: 100%;
    text-align: center;
    z-index: 100;
}
